<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebInventory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web Inventory</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <select id="config" class="browser-default custom-select bg-warning">
                                <option value="" disabled selected>menú</option>
                                <option value="1">Inventarios</option>
                                <option value="2">Productos</option>
                                <option value="3">Depósitos</option>
                                <option value="4">Categorias</option>
                                <option value="5">Tipos de Operaciones</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebInventory - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#config").change(function () {
            var seleccion = $("#config").val();
            switch (seleccion) {
                case "1":
                    window.location = "/Inventories/Index";
                    break;
                case "2":
                    window.location = "/Products/Index";
                    break;
                case "3":
                    window.location = "/Deposits/Index";
                    break;
                case "4":
                    window.location = "/Categories/Index";
                    break;
                case "5":
                    window.location = "/Types/Index";
                    break;
                default:
            }
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
