@{
    ViewData["Title"] = "Home Page";
}

<!--
    <div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>
<div class="col-3 bg-warning p-3 border">
    <div class="col">
        <div class="p-3 border bg-dark"><a class="nav-link text-white" asp-area="" asp-controller="Deposits" asp-action="Index">Depósitos</a></div>
    </div>
    <div class="col">
        <div class="p-3 border bg-secondary"><a class="nav-link text-white" asp-area="" asp-controller="Categories" asp-action="Index">Categorias</a></div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light"><a class="nav-link text-dark" asp-area="" asp-controller="Types" asp-action="Index">Tipo de Operación</a></div>
    </div>
</div>
-->
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>
<nav class="menuCSS3">
    <ul>
        <li>
            <a class="nav-link text-dark"><b>Configuración</b></a>
            <ul>
                <li><a class="nav-link text-white" asp-area="" asp-controller="Deposits" asp-action="Index">Depósitos</a></li>
                <li><a a class="nav-link text-white" asp-area="" asp-controller="Categories" asp-action="Index">Categorias</a></li>
                <li><a a class="nav-link text-white" asp-area="" asp-controller="Types" asp-action="Index">Tipos de Operaciones</a></li>
            </ul>
        </li>
    </ul>
</nav>
<style>
    .menuCSS3 ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .menuCSS3 a {
        display: block;
        padding: 2em;
        background-color: #60000001;
        text-decoration: none;
        color: #F37335;
    }

        .menuCSS3 a:hover {
            background-color: #F37335;
            border-style:outset;
        }

    .menuCSS3 ul li ul {
        display: none;
    }

        .menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
            display: block;
        }
</style>
