@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>
<div class="col-3 bg-warning p-3 border">
    <div class="col">
        <div class="p-3 border bg-dark"><a class="nav-link text-white" asp-area="" asp-controller="Deposits" asp-action="Index">Depósitos</a></div>
    </div>
    <div class="col">
        <div class="p-3 border bg-secondary"><a class="nav-link text-white" asp-area="" asp-controller="Categories" asp-action="Index">Categorias</a></div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light"><a class="nav-link text-dark" asp-area="" asp-controller="Types" asp-action="Index">Tipo de Operación</a></div>
    </div>
</div>  



