@model WebInventory.Models.Inventory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_Inventory" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Deposito" class="control-label"></label>
                <input asp-for="Id_Deposito" class="form-control" />
                <span asp-validation-for="Id_Deposito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Product" class="control-label"></label>
                <input asp-for="Id_Product" class="form-control" />
                <span asp-validation-for="Id_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Units" class="control-label"></label>
                <input asp-for="Units" class="form-control" />
                <span asp-validation-for="Units" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit_Cost" class="control-label"></label>
                <input asp-for="Unit_Cost" class="form-control" />
                <span asp-validation-for="Unit_Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
