@model WebInventory.Models.Type

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del Tipo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Type">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
